#navbar {
    flex-direction: column;
}

#home {
    height: 280px;
}

#home::before {
    height: 370px;
}

#services {
    flex-direction: column;
}

#services .box {}

#clients {
    overflow: hidden;
    
}
.client-item{
    padding: 6px;
}